Repository depromeet/13th-4team: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @monorepo/server lint, yarn workspace @monorepo/web lint, yarn workspace @monorepo/common lint

.lintstagedrc:

{
  "apps/server/{src,test}/**/*.ts": ["yarn workspace @monorepo/server lint"],
  "apps/web/src/**/*.ts": ["yarn workspace @monorepo/web lint"],
  "apps/common/src/**/*.ts": ["yarn workspace @monorepo/common lint"]
}

feat: 프로젝트 재설정
  .pnp.cjs
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-5.57.1-edb802a87d-3ea842ef96.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-5.59.1-98509b478e-9ada3ae721.zip
  .yarn/cache/@typescript-eslint-parser-npm-5.57.1-54fd96fe13-db61a12a67.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-5.57.1-9378ae59c7-4f03d54372.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-5.57.1-3f21c4b9e2-06fab95315.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-5.59.1-c0898c7993-ff46cc0499.zip
  .yarn/cache/@typescript-eslint-types-npm-5.57.1-eeab4ee3d6-21789eb697.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-5.57.1-3142e8c5fc-bf96520f6d.zip
  .yarn/cache/@typescript-eslint-utils-npm-5.57.1-4d565a9c7c-12e55144c8.zip
  .yarn/cache/@typescript-eslint-utils-npm-5.59.1-17049ac582-ca32c90efa.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-5.57.1-ebbf6e55ae-d187dfac04.zip
  apps/common/package.json
  apps/server/.eslintrc.js
  apps/server/package.json
  apps/web3/.eslintrc.json
  apps/web3/package.json
  apps/web3/tsconfig.json
  package.json
  yarn.lock
Due: none

web/joonha/feat: add tanstack-query
  .pnp.cjs
  .yarn/cache/@tanstack-match-sorter-utils-npm-8.8.4-488b98c113-d005f50075.zip
  .yarn/cache/@tanstack-query-core-npm-4.29.5-9dcad5d405-367176becc.zip
  .yarn/cache/@tanstack-react-query-devtools-npm-4.29.6-b701fa51c7-aeab54a9e8.zip
  .yarn/cache/@tanstack-react-query-npm-4.29.5-75cf2205c7-de45573900.zip
  .yarn/cache/copy-anything-npm-3.0.3-a24d77ec4d-d456dc5ec9.zip
  .yarn/cache/is-what-npm-4.1.8-57bef8cfbc-b9bec3acff.zip
  .yarn/cache/remove-accents-npm-0.4.2-7cb341092a-84a6988555.zip
  .yarn/cache/superjson-npm-1.12.3-5863896cb5-3549cc1d03.zip
  .yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-5c639e0f8d.zip
  apps/web/package.json
  yarn.lock
Due: none

web/joonha/feat: add Chakra UI
  apps/web/package.json
Due: none

temp : 서버 수정
  .pnp.cjs
  apps/server/package.json
  apps/server/src/apps/server/main.ts
  apps/server/src/apps/server/router/index.controller.ts
  apps/server/src/apps/server/router/virtual/exception/dto/exception-test-query.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/exception-test-request-body.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/exception-test-response.dto.ts
  apps/server/src/apps/server/router/virtual/exception/exception.controller.ts
  apps/server/src/apps/server/router/virtual/exception/exception.router.ts
  apps/server/src/apps/server/router/virtual/virtual.router.ts
  apps/server/src/modules/env/env.enum.ts
  apps/server/src/modules/env/env.module.ts
  package.json
  yarn.lock
Due: yarn workspace @monorepo/server lint

feat: 커스텀 에러 처리
  apps/server/src/apps/server/app.module.ts
  apps/server/src/apps/server/exceptions/base.exception.ts
  apps/server/src/apps/server/exceptions/validation.exception.ts
  apps/server/src/apps/server/router/virtual/exception/dto/exception-test-query.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/exception-test-request-body.dto.ts
  apps/server/src/apps/server/router/virtual/exception/exception.controller.ts
  apps/server/src/modules/database/database.module.ts
Due: yarn workspace @monorepo/server lint

web/joonha/feat: add Tanstack Query boilerplate
  apps/web/src/components/common/PrefetchHydration.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/providers/TanstackQueryProvider.tsx
  apps/web/src/styles/theme.ts
Due: yarn workspace @monorepo/web lint

feat: 커스텀 에러 처리 2
  apps/server/src/apps/server/app.module.ts
  apps/server/src/apps/server/exceptions/validation.exception.ts
Due: yarn workspace @monorepo/server lint

web/joonha/feat: add prettierrc
  apps/web/.prettierrc
Due: none

merge: web/dev
  .pnp.cjs
  .yarn/cache/@esbuild-darwin-x64-npm-0.17.18-be130e6598-8.zip
Due: none

web/joonha/feat: add prettierrc (#1)
  apps/web/.prettierrc
Due: none

feat: 슬랙 api 의존성 추가
  .pnp.cjs
  .yarn/cache/@slack-logger-npm-3.0.0-284f8efb66-6512d0e9e4.zip
  .yarn/cache/@slack-types-npm-2.8.0-a4150b4b92-3142433fb0.zip
  .yarn/cache/@slack-web-api-npm-6.8.1-553b0045dc-a622f44b0d.zip
  .yarn/cache/@types-is-stream-npm-1.1.0-ffc5064f9d-23fcb06cd8.zip
  .yarn/cache/@types-node-npm-18.16.3-4036a5f5f3-816b39d45b.zip
  .yarn/cache/@types-retry-npm-0.12.0-e4e6294a2c-61a072c763.zip
  .yarn/cache/axios-npm-0.27.2-dbe3a48aea-38cb754046.zip
  .yarn/cache/eventemitter3-npm-3.1.2-a68b03e1ea-81e4e82b84.zip
  .yarn/cache/eventemitter3-npm-4.0.7-7afcdd74ae-1875311c42.zip
  .yarn/cache/follow-redirects-npm-1.15.2-1ec1dd82be-faa66059b6.zip
  .yarn/cache/form-data-npm-2.5.1-47256351b5-5134ada56c.zip
  .yarn/cache/is-electron-npm-2.2.0-478d52d4fa-79e497bd50.zip
  .yarn/cache/is-stream-npm-1.1.0-818ecbf6bb-063c6bec9d.zip
  .yarn/cache/p-finally-npm-1.0.0-35fbaa57c6-93a654c53d.zip
  .yarn/cache/p-queue-npm-6.6.2-b173c5bfa8-832642fcc4.zip
  .yarn/cache/p-retry-npm-4.6.2-9f871cfc9b-45c270bfdd.zip
  .yarn/cache/p-timeout-npm-3.2.0-7fdb33f733-3dd0eaa048.zip
  .yarn/cache/retry-npm-0.13.1-89eb100ab6-47c4d5be67.zip
  apps/server/package.json
  yarn.lock
Due: none

feat: 슬랙 환경변수 추가
  apps/server/src/modules/env/env.enum.ts
Due: yarn workspace @monorepo/server lint

feat: 슬랙 모듈, 서비스 추가
  apps/server/src/modules/slack/slack.module.ts
  apps/server/src/modules/slack/slack.service.ts
Due: yarn workspace @monorepo/server lint

feat: 슬랙 block type 지정
  apps/server/src/modules/slack/slack.enum.ts
Due: yarn workspace @monorepo/server lint

feat: slack 모듈을 import 리스트에 추가
  apps/server/src/apps/server/app.module.ts
  apps/server/src/modules/slack/slack.module.ts
Due: yarn workspace @monorepo/server lint

feat: exception 타입 지정
  apps/server/src/apps/server/exceptions/exception.type.ts
Due: yarn workspace @monorepo/server lint

feat: 슬랙 알림 서비스 로직 적용
  apps/server/src/apps/server/filters/custom-exception.filter.ts
  apps/server/src/modules/slack/slack.service.ts
Due: yarn workspace @monorepo/server lint

fix: statusCode가 undefined로 나오는 것 수정
  apps/server/src/apps/server/exceptions/base.exception.ts
Due: yarn workspace @monorepo/server lint

feat: exception type alias를 response로 변경
  apps/server/src/apps/server/exceptions/exception.type.ts
  apps/server/src/modules/slack/slack.service.ts
Due: yarn workspace @monorepo/server lint

feat: slack module 필요없는 imports property 삭제
  apps/server/src/modules/slack/slack.module.ts
Due: yarn workspace @monorepo/server lint

[PID-20] feat: 공용 DTO 처리 Front와 DTO를 공용으로 사용하기 위한 로직 구현
  .pnp.cjs
  apps/common/.gitignore
  apps/common/dist/api/index.d.ts
  apps/common/dist/api/index.js
  apps/common/dist/api/private/index.d.ts
  apps/common/dist/api/private/index.js
  apps/common/dist/api/public/index.d.ts
  apps/common/dist/api/public/index.js
  apps/common/dist/api/virtual/exception/index.d.ts
  apps/common/dist/api/virtual/exception/index.js
  apps/common/dist/api/virtual/index.d.ts
  apps/common/dist/api/virtual/index.js
  apps/common/dist/index.d.ts
  apps/common/dist/index.js
  apps/common/src/api/index.ts
  apps/common/src/api/private/index.ts
  apps/common/src/api/public/index.ts
  apps/common/src/api/virtual/exception/index.ts
  apps/common/src/api/virtual/index.ts
  apps/common/src/index.ts
  apps/server/package.json
  apps/server/src/apps/server/router/index.router.ts
  apps/server/src/apps/server/router/private/dto/get-private-index-response.dto.ts
  apps/server/src/apps/server/router/private/private.controller.ts
  apps/server/src/apps/server/router/public/dto/get-public-index-response.dto.ts
  apps/server/src/apps/server/router/public/public.controller.ts
  apps/server/src/apps/server/router/virtual/dto/get-virtual-index-response.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/exception-test-response.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/get-virtual-exception-query.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/get-virtual-exception-response.dto.ts
  apps/server/src/apps/server/router/virtual/exception/dto/post-virtual-exception-request.dto.ts
  apps/server/src/apps/server/router/virtual/exception/exception.controller.ts
  apps/server/src/apps/server/router/virtual/exception/exception.router.ts
  apps/server/src/apps/server/router/virtual/exception/virtual-exception.controller.ts
  apps/server/src/apps/server/router/virtual/exception/virtual-exception.router.ts
  apps/server/src/apps/server/router/virtual/virtual.controller.ts
  apps/server/src/apps/server/router/virtual/virtual.router.ts
  yarn.lock
Due: yarn workspace @monorepo/server lint, yarn workspace @monorepo/common lint

format: insite를 insight로 정정
  apps/server/src/modules/slack/slack.service.ts
Due: yarn workspace @monorepo/server lint

format: README 오타 수정 및 브랜치 전략 변경, 팀원 표 추가
  README.md
Due: none

feat: prisma in database module
  apps/server/.gitignore
  apps/server/package.json
  apps/server/src/modules/database/prisma.service.ts
  apps/server/src/modules/database/schema.prisma
  apps/server/tsconfig.json
Due: yarn workspace @monorepo/server lint

feat: 환경별 실행 script 설정
  .pnp.cjs
  .yarn/cache/dotenv-cli-npm-7.2.1-dba9b4a768-8ca27fd44b.zip
  apps/server/package.json
  yarn.lock
Due: none

fix: prisma/generate => prisma/generated로 변경
  apps/server/src/modules/database/prisma.service.ts
  apps/server/src/modules/database/schema.prisma
Due: yarn workspace @monorepo/server lint

fix: prod => main으로 변경
  apps/server/.gitignore
  apps/server/package.json
Due: none

merge
  .pnp.cjs
  .yarn/cache/@types-node-npm-16.18.25-3a7dc2bab4-181760ad6b.zip
  .yarn/cache/@types-node-npm-16.18.26-9cb90bca44-2a746b3f9e.zip
  yarn.lock
Due: none
